#calculator{
    background-color: rgba(3, 3, 3, 0.719);
    border-radius: 2px;;
    padding: 10px;
    margin: 10px 10px 45px 10px;
    
    
}

.label-headings{
    color: white;
    margin-right: 5px;
}


.button-group{
    width: 100%;
    margin-bottom: -6px;
}

#lap-heading{
    margin-bottom: 0;
    margin-top: 10px;
}

.average-time{
    display: inline-flex;
    
}

#minute-time{
    width: 65%;
    margin-right: 5px;
}

#second-time{
    width: 85%;
}

.button-submit{
    display: inline-flex;
    width: 100%;
}

.error-labels{
    font-size: 15px;
    color: red;
    font-weight: bold;
}